
:root {
    --CC-animation-speed: 0.8s;
    --CC-search-in-friendlist: none; /* none or flex */
    --CC-bar-color: hsl(0, 0%, 5%);
    --CC-background-color: hsl(0, 0%, 1%);
    --CC-text-color: rgb(255, 255, 255);
    --CC-serverlist-background-color: var(--CC-bar-color);
    --CC-input-field-background-color: var(--CC-bar-color);
}

/* server list background */

.scroller-3X7KbA {
    background-color: var(--CC-serverlist-background-color) !important;
}

/* jump to present bar background */

.jumpToPresentBar-1cEnH0 {
    background-color: var(--CC-input-field-background-color);
}

/* account rectangle at the bottom */ 

.container-YkUktl {
    background-color: var(--CC-input-field-background-color) !important;
}

.container-1zzFcN {
    background-color: var(--CC-input-field-background-color) !important;
    display: flex;
    flex-direction: column-reverse;
}

.actionButtons-2vEOUh * {
    background-color: var(--CC-input-field-background-color) !important;
}

button[aria-label="Noise Suppression powered by RNNoise"] {
    display: none;
}

.horizontal-112GEH>.flex-2S1XBF, .horizontal-112GEH>.flexChild-3PzYmX {
    margin: 0;
    padding-right: 2px;
}

.flex-2S1XBF {
    flex-direction: row-reverse;
}

/* embeds */

.embedFull-1HGV2S {
    background-color: var(--CC-bar-color);
    border-left: var(--CC-bar-color);
}

.chat-2ZfjoI {
    background-color: var(--CC-background-color);
}

/*member list*/

.membersWrap-3NUR2t.hiddenMembers-8kpYM0, .members-3WRCEx {
    background-color: var(--CC-bar-color) !important;
    min-width: unset;
    width: 50px;
    padding-left: 0px;
    justify-content: right;
    transition: width var(--CC-animation-speed);
    min-height: 100%;
    padding-top: 3px;
}

.member-2gU6Ar {
    margin-left: 0px;
}

.membersWrap-3NUR2t.hiddenMembers-8kpYM0:hover .membersGroup-2eiWxl.container-q97qHp {
    display: block;
    height: unset;
    padding: 5px 0 5px 10px;
}

.membersWrap-3NUR2t.hiddenMembers-8kpYM0:hover, .membersWrap-3NUR2t.hiddenMembers-8kpYM0:hover .members-3WRCEx {
    width: 240px;
}

/*chat input field */

.channelTextArea-1FufC0 {
    background-color: var(--CC-input-field-background-color);
    margin-bottom: 0;
    padding-bottom: 24px;
}

.form-3gdLxP {
    padding: 0px;
}

.channelTextArea-1FufC0.channelTextArea-1VQBuV,
.scrollableContainer-15eg7h
{
    border-radius: 0;
}

.scrollableContainer-15eg7h {
    background-color: inherit;
}

.scrollerSpacer-3AqkT9 {
    height: 10px;
}

/* message background */

.messagesWrapper-RpOMA3 {
    background: var(--CC-background-color);
}

/*extend top bar on top of channel list*/

.title-31SJ6t,
.container-ZMc96U
{
    background: var(--CC-bar-color) !important;
    width: calc(100% + 50px);
    margin-left: -50px;
    transition: margin-left var(--CC-animation-speed), width var(--CC-animation-speed);
}

.sidebar-1tnWFu:hover ~ .chat-2ZfjoI .title-31SJ6t.container-ZMc96U,
.sidebar-1tnWFu:hover ~ .container-1D34oG .container-1r6BKw,
.sidebar-1tnWFu:hover ~ .container-3Mxszk .libraryHeader-3g95kE
{
    margin-left: -240px;
    width: calc(100% + 240px);
}

.chat-2ZfjoI {
    overflow: unset;
}

.children-3xh0VB {
    margin: 0px;
}

.children-3xh0VB:after {
    display: none;
}

.container-1D34oG,
.container-3Mxszk,
.applicationStore-1pNvnv
{
    overflow: visible;
}

/* home page */

.tabBody-2dgbAs {
    background: var(--CC-background-color);
}

.container-2cd8Mz {
    background-color: rgba(0,0,0,0) !important;
}

/* nitro page */

.scroller-29cQFV {
    background-color: var(--CC-background-color);
}

/*friend list*/

.content-yjf30S a {
    margin-left: 0;
}

.privateChannelsHeaderContainer-1UWASm {
    padding-left: 15px;
}

.privateChannelRecipientsInviteButtonIcon-1ObKXK[aria-label="Create DM"] {
    margin-right: 4px !important;
}

.searchBar-2aylmZ {
    display: var(--CC-search-in-friendlist);
}

/* friends and nitro page */

.container-2cd8Mz {
    overflow: visible;
}

.channel-1Shao0 {
    margin-left: 0;
}

.sidebar-1tnWFu:hover .scroller-WSmht3 {
    padding-right: 16px !important;
}

.scroller-WSmht3 {
    padding-right: 0 !important;
}

/* channel list */

.sidebar-1tnWFu {
    background: var(--CC-bar-color) !important;
    margin-top: 48px;
    min-width: unset;
    width: 50px;
    padding-left: 0px;
    justify-content: right;
    transition: width var(--CC-animation-speed);
}

.sidebar-1tnWFu:hover {
    width: 240px;
}

.scroller-WSmht3 {
    overflow: hidden;
    height: 0px;
    padding: 0px;
    animation-name: channel-list-header-minimize;
    animation-duration: var(--CC-animation-speed);
}

.sidebar-1tnWFu:hover .scroller-WSmht3 {
    height: 24px;
    padding: 16px;
    animation-name: channel-list-header-expand;
    animation-duration: var(--CC-animation-speed);
}

@keyframes channel-list-header-expand {
    from {
        height: 0;
        padding: 0;
    } to {
        height: 24px;
        padding: 16px;
    }
}

@keyframes channel-list-header-minimize {
    from {
        height: 24px;
        padding: 16px;
    } to {
        height: 0;
        padding: 0;
    }
}

.button-2BMPJJ {
    margin-left: unset;
}

.containerDefault-3TQ5YN, 
.children-1MGS9G,
.nameTag-sc-gpq {
    display: none;
}

.iconContainer-21RCa3 {
    margin-right: 0;
}

.sidebar-1tnWFu:hover .iconContainer-21RCa3 {
    margin-right: 6px;
}

.sidebar-1tnWFu:hover .children-1MGS9G,
.sidebar-1tnWFu:hover .containerDefault-3TQ5YN
{
    display: flex;
}

.sidebar-1tnWFu:hover .nameTag-sc-gpq {
    display: block;
}

/* removing various backgrounds to recolor them */

.chat-3bRxxu, 
.threadSidebar-1o3BTy, 
.container-1NXEtd,
.member-48YF_l
{
    background: none !important;
}

/*padding so text below buttons are properly overlayed*/

.actions-aUdUfC button[aria-label="Stop Streaming"],
.wrapper-24pKcD button[aria-label="Disconnect"]
{
    width: unset;
    height: unset;
    padding-left: 5px;
}

.container-2giAcK,
.guildIconContainer-3QvE6w,
.scroller-kQBbkU::-webkit-scrollbar,
.membersGroup-2eiWxl.container-q97qHp
{
    display: none;
}
